html {
    margin: 0;
}

body {
    margin: 0;
}

.main_div {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    height: 66rem;

}
.tabs_bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    background-color: grey;
    width:6rem;
}